@page "/chat"
@attribute [Authorize]

@using ChatApp.Models
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject IConfiguration Configuration

<PageTitle>Chat</PageTitle>

<ul>
    @foreach (var chatRoom in chatRooms)
    {
        <li><a href="@($"chat/{chatRoom.Id}")">@chatRoom.Name</a></li>
    }
</ul>

@code {
    private List<ChatRoom> chatRooms = new List<ChatRoom>();

    protected override async Task OnInitializedAsync()
    {
        Uri baseUrl = new Uri(Configuration["apiBaseUrl"]);
        var requestUri = new Uri(baseUrl, "ChatRoom/GetChatRooms");
        chatRooms = await Http.GetFromJsonAsync<List<ChatRoom>>(requestUri);
    }
}